<% if (typeof photostream === "undefined") { %>
  <a href="/#" class="return-to-albums">Back to albums list</a>

  <% if (album.get('user') && album.get('user').email === Sparklr.currentUser.get('email')) { %>
    <button class="delete-album">Delete Album</button>
  <% } %>

  <div class="album-cover-container">
    <div class="album-cover-shade"></div>
    <img class="album-cover-photo" src="<%= album.escape('cover_photo_url') %>">
    <div class="album-title">
      <h1 class='album-title'><%= album.escape('title') %></h1>
    </div>
    <div class="album-description">
      <h2 class='album-description'><%= album.escape('description') %></h2>
    </div>
    <div class="album-info">
      <h3 class='album-num-photos'><%= numPhotos %> Photos</h3>
      <h3 class='album-creator'>by: <%= creator %></h3>
    </div>

  </div>
<% } %>

<ul class="photo-list group"></ul>

<% if (typeof photostream !== "undefined" || creator === Sparklr.currentUser.get('email')) { %>
  <div class='photo-form-container'>
    <button class="open-form visible">Upload Photo?</button>
  </div>

  <section class="form-modal">
    <article class="form-content">

      <button class="close-form">Cancel</button>
    </article>
    <div class="modal-screen"></div>
  </section>
<% } %>
