<!DOCTYPE html>
<html>
<head>
  <title>Sparklr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <%= flash[:errors].join(", ") %>
<% end %>
<% if flash[:notice] %>
  <%= flash[:notice].join(", ") %>
<% end %>

<div id="main-navbar-container"></div>
<%= yield %>
</body>
</html>
